<div class="row mt-5">
  <div class="col-4">
    <div class="ratio ratio-16x9">
      <iframe class="embed-responsive-item" src="<%= movie.embed_url %>" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-8">
    <h5><%=movie.title%></h5>
    <p>Shared By: <%=movie.user.username%></p>

    <p>Description: </p>
    <p class="text-break"><%=movie.description.truncate(500)%></p>
    <% if current_user == movie.user %>
      <%= link_to "Delete", movie_path(movie),
        data: {
          method: :delete,
          confirm: "Are you sure you want to delete this?"
        }, class: 'btn btn-danger btn-sm m-2'%>
    <%end%>
  </div>
</div>