<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for @movie, html: { class: "border mt-5"} do |f| %>
    <div class="form-group m-4">
      <div class="row">
        <div class="col-sm-3">
          <%= f.label :url, 'Youtube URL:', class: 'col-form-label' %>
        </div>
        <div class="col-sm-9">
          <%= f.text_field :url, class: 'form-control' %>
          <% if @movie.errors.any? %>
            <div class="invalid-feedback">
              <%= @movie.errors.full_messages.join(', ')%>
            </div>
          <%end%>
        </div>
      </div>
      <div class="row">
        <label for="share" class="col-sm-3"></label>
        <div class="col-sm-9 mt-3">
          <%= f.submit 'Share', class: 'btn btn-success w-100' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>