<% flash.each do |type, msg| %>
<div class="alert alert-<%=alert_class_name(type)%> alert-dismissible fade show">
  <%= msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>