<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%=root_path%>">
      <i class="fas fa-home fa-2x"></i>
      <span>Funny Movies</span>
    </a>

    <% if logged_in? %>
    <div>
      <span class="navbar-text me-3">
        Welcome
        <span class="font-weight-bold"><%= current_user.username %></span>
      </span>

      <%= link_to 'Share a movie', share_movie_path, class: 'btn btn-outline-success my-2 my-sm-0 me-3' %>
      <%= link_to 'Logout', logout_path, class: 'btn btn-outline-danger my-2 my-sm-0', method: :delete, data: { confirm: 'Are you sure to logout?' } %>
    </div>
    <% else %>
    <%=form_for :user, url: login_or_register_path, html: {class: 'd-flex'} do |f| %>
    <%= f.text_field :username, class: 'form-control me-2', placeholder: 'username' %>
    <%= f.text_field :password, class: 'form-control me-2', placeholder: 'password'  %>
    <%= f.submit 'Login / Register', class: 'btn btn-outline-success my-2 my-sm-0' %>
    <%end%>
    <% end %>
  </div>
</nav>