// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.invalid-feedback {
  display: block;
}

.field_with_errors .form-control {
  border-color: red;
}